@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <link href="~/Content/Layout/chart/jqx.base.css" rel="stylesheet" />
    @*<script src="Content/Layout/chart/jquery-1.11.1.min.js"></script>*@
    <script src="~/Content/Layout/chart/jqxcore.js"></script>
    <script src="~/Content/Layout/chart/jqxdata.js"></script>
    <script src="~/Content/Layout/chart/jqxdraw.js"></script>
    <script src="~/Content/Layout/chart/jqxchart.core.js"></script>
    <script src="~/Content/Layout/chart/demos.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           // $("#listNewspaper").CongelarFilaColumna({ Columnas: 0, coloreacelda: true, colorcelda: '#EFFBFB' });
        });
        $(function () {
            LoadData();
        });
        function LoadData() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadData", "Home")',
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var spl = data.data.split("#$%^");
                    $("#lbCountApp").html(spl[0]);
                    $("#lbSizeHost").html(spl[1]);
                    $("#load_count_news_vietnam_today").html(spl[2]);
                    $("#load_count_news_nuocngoai_today").html(spl[3]);
                    $("#load_count_access_topday").html(spl[4]);

                    $("#load_count_news_view").html(spl[5]);

                },
                error: function () {

                }
            });
        }
        function Shrinkfile() {
            $.confirm({
                title: 'Shrinkfile!',
                content: 'Bạn có chắc chắn muốn shrinkfile?',
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Shrinkfile", "Home")',
                        data: "",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data == 1)
                                location.reload(true);
                        },
                        error: function () {
                        }
                    });
                },
                cancel: function () {

                }
            });

        }
        function UpdNewsWebsite() {
            $.confirm({
                title: 'Update website!',
                content: 'Bạn có chắc chắn muốn update website?',
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UpdateWebsite", "Home")',
                        data: "",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data == 1)
                                location.reload(true);
                        },
                        error: function () {
                        }
                    });
                },
                cancel: function () {

                }
            });
        }
        function DelNewsBeforeTowDay() {
            $.confirm({
                title: 'Delete database!',
                content: 'Bạn có chắc chắn muốn xóa dữ liệu database?',
                confirm: function () {
                   $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteNewsTowDay", "Home")',
                        data: "",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data == 1)
                                location.reload(true);
                        },
                        error: function () {
                        }
                    });
                },
                cancel: function () {

                }
            });

        }
        function ViewChart(MN,TN) {
            $("#modalChart").modal();
            $("#modalTitleMenu").html("BIỂU ĐỒ THÔNG TIN QUỐC GIA: " + TN);

            var sampleData = [
                { Day: 'Monday', Running: 30, Swimming: 0, Cycling: 25 },
                { Day: 'Tuesday', Running: 25, Swimming: 25, Cycling: 0 },
                { Day: 'Wednesday', Running: 30, Swimming: 0, Cycling: 25 },
                { Day: 'Thursday', Running: 35, Swimming: 25, Cycling: 45 },
                { Day: 'Friday', Running: 0, Swimming: 20, Cycling: 25 },
                { Day: 'Saturday', Running: 30, Swimming: 0, Cycling: 30 },
                { Day: 'Sunday', Running: 60, Swimming: 45, Cycling: 0 }
            ];

            // prepare jqxChart settings
            var settings = {
                title: "Fitness & exercise weekly scorecard",
                description: "Time spent in vigorous exercise by activity",
                enableAnimations: true,
                showLegend: true,
                padding: { left: 5, top: 5, right: 5, bottom: 5 },
                titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },
                source: sampleData,
                xAxis:
                {
                    dataField: 'Day',
                    unitInterval: 1,
                    axisSize: 'auto',
                    tickMarks: {
                        visible: true,
                        interval: 1,
                        color: '#BCBCBC'
                    },
                    gridLines: {
                        visible: true,
                        interval: 1,
                        color: '#BCBCBC'
                    }
                },
                valueAxis:
                {
                    unitInterval: 10,
                    minValue: 0,
                    maxValue: 120,
                    title: { text: 'Time in minutes' },
                    labels: { horizontalAlignment: 'right' },
                    tickMarks: { color: '#BCBCBC' }
                },
                colorScheme: 'scheme06',
                seriesGroups:
                    [
                        {
                            type: 'stackedcolumn',
                            columnsGapPercent: 50,
                            seriesGapPercent: 0,
                            series: [
                                { dataField: 'Running', displayText: 'Running' },
                                { dataField: 'Swimming', displayText: 'Swimming' },
                                { dataField: 'Cycling', displayText: 'Cycling' }
                            ]
                        }
                    ]
            };

            // setup the chart
            $('#chartContainer1').jqxChart(settings);
        }
        $(document).ready(function () {
            // prepare chart data as an array
            var sampleData = [
                { Day: 'Monday', Running: 30, Swimming: 0, Cycling: 25 },
                { Day: 'Tuesday', Running: 25, Swimming: 25, Cycling: 0 },
                { Day: 'Wednesday', Running: 30, Swimming: 0, Cycling: 25 },
                { Day: 'Thursday', Running: 35, Swimming: 25, Cycling: 45 },
                { Day: 'Friday', Running: 0, Swimming: 20, Cycling: 25 },
                { Day: 'Saturday', Running: 30, Swimming: 0, Cycling: 30 },
                { Day: 'Sunday', Running: 60, Swimming: 45, Cycling: 0 }
            ];

            // prepare jqxChart settings
            var settings = {
                title: "Fitness & exercise weekly scorecard",
                description: "Time spent in vigorous exercise by activity",
                enableAnimations: true,
                showLegend: true,
                padding: { left: 5, top: 5, right: 5, bottom: 5 },
                titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },
                source: sampleData,
                xAxis:
                {
                    dataField: 'Day',
                    unitInterval: 1,
                    axisSize: 'auto',
                    tickMarks: {
                        visible: true,
                        interval: 1,
                        color: '#BCBCBC'
                    },
                    gridLines: {
                        visible: true,
                        interval: 1,
                        color: '#BCBCBC'
                    }
                },
                valueAxis:
                {
                    unitInterval: 10,
                    minValue: 0,
                    maxValue: 120,
                    title: { text: 'Time in minutes' },
                    labels: { horizontalAlignment: 'right' },
                    tickMarks: { color: '#BCBCBC' }
                },
                colorScheme: 'scheme06',
                seriesGroups:
                    [
                        {
                            type: 'stackedcolumn',
                            columnsGapPercent: 50,
                            seriesGapPercent: 0,
                            series: [
                                { dataField: 'Running', displayText: 'Running' },
                                { dataField: 'Swimming', displayText: 'Swimming' },
                                { dataField: 'Cycling', displayText: 'Cycling' }
                            ]
                        }
                    ]
            };

            // setup the chart
            $('#chartContainer').jqxChart(settings);

        });
    </script>
}

<div class="headingtop">
    <section class="content-header">
        <div style="float: left; clear: both;">
            <label class="icon120m bg-blue1" onclick="ChartApp()" style="">
                <i class="fa_excel fa-bar-chart bg-red1"></i>
            </label>
            <label class="icon120blue bg-blue2 cursor" id="Label1" onclick="ChartApp()">
                Tổng số lượng app:
                <strong id="lbCountApp" style="color: red; font-weight: bold; font-size: 20px">
                </strong>
            </label>
        </div>

        <div style="float: left;">
            <label class="icon120m bg-blue1" onclick="Shrinkfile()" style="">
                <i class="fa_excel fa-bell bg-red1"></i>
            </label>
            <label class="icon120blue bg-yellow cursor" onclick="Shrinkfile()">
                Dung lượng host:
                <strong id="lbSizeHost" style="color: white; font-weight: bold; font-size: 20px">

                </strong>
            </label>
        </div>

        <div style="float: left;">
            <label class="icon120m bg-red1" onclick="UpdNewsWebsite()" style="">
                <i class="fa_excel fa-internet-explorer bg-blue"></i>
            </label>
            <label class="icon120blue bg-green1 cursor" onclick="UpdNewsWebsite()">
                Cập nhật tin tức cho website
            </label>
        </div>

        <div style="float: left;">
            <label class="icon120m bg-yellow" onclick="DelNewsBeforeTowDay()" style="">
                <i class="fa_excel fa-database bg-blue"></i>
            </label>
            <label class="icon120blue bg-blue2 cursor" onclick="DelNewsBeforeTowDay()">
                Xóa dữ liệu database
            </label>
        </div>

        <div style="float: left;">
            <label class="icon120m bg-yellow" onclick="ViewReportDevice()">
                <i class="fa_excel fa-pie-chart bg-red1"></i>
            </label>
            <label class="icon120r bg-red1 cursor" id="lbReset" onclick="ViewReportDevice()">
                Xem báo cáo device
            </label>
        </div>

        <ol class="breadcrumb" style="float:right">
            <li><a><i class="fa fa-dashboard"></i>Theo dõi hệ thống</a></li>
        </ol>

    </section>
</div>
<section class="content" style="clear:both">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="load_count_news_vietnam_today"></h3>

                    <p>Tin tức báo việt nam hôm nay</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a class="small-box-footer" style="height: 25px"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 id="load_count_news_nuocngoai_today"></h3>

                    <p>Tin tức báo nước ngoài hôm nay</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a class="small-box-footer" style="height: 25px"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="load_count_access_topday">
                        0
                    </h3>
                    <p>Lần truy cập hôm nay</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a class="small-box-footer" style="height: 25px"></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 id="load_count_news_view">
                        789
                    </h3>
                    <p>Lượt xem tin hôm nay</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer" style="height: 25px"></a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title" style="color:darkcyan">Danh sách thông tin quốc gia</h3>
                </div>
                <div class="box-body" style="">
                    @Html.Action("LoadRegionNews", "Home")
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title" style="color:deepskyblue">Biểu đồ thống kê</h3>
                </div>
                <div class="box-body chart-responsive">
                    <div id='chartContainer' style="width:100%; height:500px;"></div>
                    @*@Html.Action("LoadChart", "Home")*@
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>


<div id="modalChart" style="width:100%" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1024px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleMenu" style="color:brown;font-size:18px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id='chartContainer1' style="width:800px; height:500px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
