
@{
    ViewBag.Title = "Cập nhật videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $("#listMenuVideo").CongelarFilaColumna({ Columnas: 0, coloreacelda: true, colorcelda: '#EFFBFB' });
        //});
        function DisplayWeb(IDMenu) {
            var check_web = $("#chkweb" + IDMenu).is(':checked');
            $.ajax({
                type: "POST",
                url: '@Url.Action("DisplayWeb", "UpdVideos")',
                data: "{'IDMenu':'" + IDMenu + "','DisplayWeb':'" + check_web + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        CheckNotify("chkweb" + IDMenu, "Thành công", "left", "success", true, false);
                    }
                },
                error: function () {
                }
            });

        }
        function PopupMenuVideo() {
            $("#modalListMenuVideo").modal();
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadMenuVideo", "UpdVideos")',
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#dsmenuvideo").fadeIn();
                    var ch = data.data;
                    $("#dsmenuvideo").html(ch);
                   // $("#listMenuVideo").CongelarFilaColumna({ Columnas: 0, coloreacelda: true, colorcelda: '#EFFBFB' });
                },
                error: function () {

                }
            });
           
        }
        function UpdateTitleWeb(IDMenu) {
            var title = $("#txtTitle" + IDMenu).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateTitleWeb", "UpdVideos")',
                data: "{'IDMenu':'" + IDMenu + "','TitleWeb':'" + title + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        CheckNotify("txtTitle" + IDMenu, "Thành công", "top", "success", false, false);

                    }
                    else {
                        CheckNotify("txtTitle" + IDMenu, "Error", "top", "error", false, false);
                    }
                },
                error: function () {

                }
            });
        }
        function UpdateSTTWeb(IDMenu) {
            var stt = $("#txtSTTWeb" + IDMenu).val();
            $.ajax({
                type: "POST",                
                 url: '@Url.Action("UpdateSTTWeb", "UpdVideos")',
                data: "{'IDMenu':'" + IDMenu + "','STTWeb':'" + stt + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        CheckNotify("txtSTTWeb" + IDMenu, "Thành công", "top", "success", false, false);

                    }                   
                    else {
                        CheckNotify("txtSTTWeb" + IDMenu, "Error", "top", "error", false, false);
                    }
                },
                error: function () {

                }
            });

        }
        function CheckHome(IDMenu) {
            var chkHome = $("#chkHome" + IDMenu.toString()).is(":checked");
            var bit = "0";
            bit = ((chkHome) ? "1" : "0");
            //alert(bit);
            $.ajax({
                type: "POST",                
                 url: '@Url.Action("CheckHome", "UpdVideos")',
                data: "{'IDMenu':'" + IDMenu + "','DisplayHome':'" + bit + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        CheckNotify("chkHome" + IDMenu, "Thành công", "top", "success", false, false);

                    }                   
                    else {
                        CheckNotify("chkHome" + IDMenu, "Error", "top", "error", false, false);
                    }
                },
                error: function () {

                }
            });
        }
        function CheckColumn(IDMenu, Column) {

            // var chkHome = $("#chkHome" + IDMenu.toString()).is(":checked");
            var chkColumn3 = $("#chkColumn3" + IDMenu.toString()).is(":checked");
            var chkColumn4 = $("#chkColumn4" + IDMenu.toString()).is(":checked");
            var col = "";
            if (Column == 3) {
                $("#chkColumn4" + IDMenu.toString()).prop("checked", false);
                col = ((chkColumn3) ? "col3" : "");
            }
            if (Column == 4) {
                $("#chkColumn3" + IDMenu.toString()).prop("checked", false);
                col = ((chkColumn4) ? "col4" : "");
            }

            $.ajax({
                type: "POST",

                url: '@Url.Action("CheckColumn", "UpdVideos")',
                data: "{'IDMenu':'" + IDMenu + "','Column':'" + col + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (Column == 3) {
                        if (data == 1) {
                            CheckNotify("chkColumn3" + IDMenu, "Thành công", "top", "success", false, false);

                        }
                        else {
                            CheckNotify("chkColumn3" + IDMenu, "Error", "top", "error", false, false);
                        }
                    }
                    else if (Column == 4) {
                        if (data == 1) {
                            CheckNotify("chkColumn4" + IDMenu, "Thành công", "top", "success", false, false);

                        }
                        else {
                            CheckNotify("chkColumn4" + IDMenu, "Error", "top", "error", false, false);
                        }
                    }

                }
            });
        }
    </script>
}
<div class="headingtop">
    <section class="content-header">

        <div style="float: left; clear: both;">
            <label class="icon120m bg-yellow" onclick="UpdSelect()" style="">
                <i class="fa_excel fa-refresh bg-blue2"></i>
            </label>
            <label class="icon120blue bg-blue2 cursor" id="lbselect" onclick="UpdSelect()">
                Cập nhật menu chọn
            </label>
        </div>

        <div style="float: left;">
            <label class="icon120m bg-green1" onclick="UpdAll()">
                <i class="fa_excel fa-refresh bg-blue2"></i>
            </label>
            <label class="icon120m bg-blue1 cursor" id="lbReset" onclick="UpdAll()">
                Cập nhật tất cả menu
            </label>
        </div>

        <div style="float: left;">
            <label class="icon120m bg-red1" onclick="PopupListVideo()" style="">
                <i class="fa_excel fa-list bg-blue2"></i>
            </label>
            <label class="icon120blue bg-blue2 cursor" id="lbListVideo" onclick="PopupListVideo()">
                Danh sách video
            </label>
        </div>
        <div style="float: left;">
            <label class="icon120m bg-yellow" onclick="PopupMenuVideo()" style="">
                <i class="fa_excel fa-list bg-blue2"></i>
            </label>
            <label class="icon120blue bg-blue1 cursor" id="lbMenuVido" onclick="PopupMenuVideo()">
                Menu video
            </label>
        </div>
        <div style="float: left;">
            <label class="icon120m bg-yellow" onclick="DelSelect()" style="">
                <i class="fa_excel fa-remove bg-red1"></i>
            </label>
            <label class="icon120r bg-red1 cursor" id="dlselect" onclick="DelSelect()">
                Xóa video của menu chọn
            </label>
        </div>

        <ol class="breadcrumb">
            @Html.Raw(ViewData["HeadingTopRight"])
        </ol>
    </section>
</div>
<div style="width:100%; margin-top:2px;margin-left:2px;margin-right:2px;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-body" id="divLeft">
                    @Html.Action("LoadData", "UpdVideos")
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalListMenuVideo" style="width:100%" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1024px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">MENU VIDEO WEBSITE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dsmenuvideo" style="">                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


