
@{
    ViewBag.Title = "Config menu website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#listmenu").CongelarFilaColumna({ Columnas: 0, coloreacelda: true, colorcelda: '#EFFBFB' });
        });
         function CheckRight(mID) {
            var chkRight = $("#chkRight" + mID.toString()).is(":checked");
            $.ajax({
                type: "POST",                
                url: '@Url.Action("CheckRight", "wConfigDefault")',
                data: "{'mID':'" + mID + "','FRight':'" + chkRight + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        CheckNotify("chkRight" + mID, "Thành công", "top", "success", false, false);
                    }
                    else {
                        CheckNotify("chkRight" + mID, "Thất bại", "top", "error", false, false);
                    }
                }
            });
        }
        function CheckUpperVideo(mID) {
            var chkUpperVideo = $("#chkUpperVideo" + mID.toString()).is(":checked");
            $.ajax({
                type: "POST",
                
                 url: '@Url.Action("CheckUpperVideo", "wConfigDefault")',
                data: "{'mID':'" + mID + "','UpperVideo':'" + chkUpperVideo + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        CheckNotify("chkUpperVideo" + mID, "Thành công", "top", "success", false, false);
                    }
                    else {
                        CheckNotify("chkUpperVideo" + mID, "Thất bại", "top", "error", false, false);
                    }
                }
            });
        }
        function SelectFormat(mID, Type) {
            var chkColumn = $("#chkColumn" + mID.toString()).is(":checked");
            var chkSlider = $("#chkSlider" + mID.toString()).is(":checked");
            var chkTab = $("#chkTab" + mID.toString()).is(":checked");
            var bit = "0";

            if (Type == 1) {
                $("#chkSlider" + mID.toString()).prop("checked", false);
                $("#chkTab" + mID.toString()).prop("checked", false);
                bit = ((chkColumn) ? "1" : "0");
            }
            if (Type == 2) {
                $("#chkColumn" + mID.toString()).prop("checked", false);
                $("#chkTab" + mID.toString()).prop("checked", false);
                bit = ((chkSlider) ? "1" : "0");
            }
            if (Type == 3) {
                $("#chkColumn" + mID.toString()).prop("checked", false);
                $("#chkSlider" + mID.toString()).prop("checked", false);
                bit = ((chkTab) ? "1" : "0");
            }

            $.ajax({
                type: "POST",                
                url: '@Url.Action("CheckFormat", "wConfigDefault")',
                data: "{'mID':'" + mID + "','sTID':'" + Type + "','sBit':'" + bit + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (Type == 1) {

                        if (data == 1) {
                            CheckNotify("chkColumn" + mID, "Thành công", "top", "success", false, false);

                        }                       
                        else {
                            CheckNotify("chkColumn" + mID, "Error", "top", "error", false, false);
                        }
                    }
                    else if (Type == 2) {

                        if (data == 1) {
                            CheckNotify("chkSlider" + mID, "Thành công", "top", "success", false, false);

                        }                       
                        else {
                            CheckNotify("chkSlider" + mID, "Error", "top", "error", false, false);
                        }
                    }
                    else if (Type == 3) {

                        if (data == 1) {
                            CheckNotify("chkTab" + mID, "Thành công", "top", "success", false, false);

                        }                        
                        else {
                            CheckNotify("chkTab" + mID, "Error", "top", "error", false, false);
                        }
                    }
                },
                failure: function (response) {

                }
            });
        }
        function LoadNewsPaperMenu(sID) {
            $("#modalListNewspaper").modal();
            $.ajax({
                type: "POST",                
                url: '@Url.Action("ListMenuNewsPaper", "wConfigDefault")',
                data: "{'sID':'" + sID + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var spl = data.data.split("#$%^");
                    $("#modalTitleMenu").html(spl[0]);
                    $("#listMenu").fadeIn();                 
                    $("#listMenu").html(spl[1]);
                },
                error: function () {

                }
            });
        }
        function LoadListSelected(sID) {
            $("#modalSelectedListNewspaper").modal();
           $.ajax({
               type: "POST",
               url: '@Url.Action("ListSelected", "wConfigDefault")',               
                data: "{'sID':'" + sID + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
               success: function (data) {
                   var spl = data.data.split("#$%^");
                   $("#modalTitleMenu2").html(spl[0]);
                   $("#listSelected").fadeIn();
                   $("#listSelected").html(spl[1]);                    
                },
                error: function () {

                }
            });
        }
        function CheckUpdateNewspaperId(sID, NewspaperMenuId) {
            var chkMenu = $("#idcheck" + NewspaperMenuId).is(':checked');
            $.ajax({
                type: "POST",                
                url: '@Url.Action("InsertNewsMenuId", "wConfigDefault")',
                data: "{'sID':'" + sID + "','NewspaperMenuId':'" + NewspaperMenuId + "','chkMenu':'" + chkMenu + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        CheckNotify("idcheck" + NewspaperMenuId, "Thành công", "left", "success", true, false);
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ReloadListMenu", "wConfigDefault")',
                            data: "{'sID':'" + sID + "'}",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                var d = data.data;
                                $("#Rload" + sID).fadeIn();
                                $("#Rload" + sID).html(d);
                            },
                            error: function () {

                            }
                        });                 

                    }
                    else {
                        CheckNotify("idcheck" + NewspaperMenuId, "Thất bại", "left", "error", true, false);
                    }
                }
            });
        }

        function CheckListSelected(sID, NewspaperMenuId) {
             var idSelected = $("#idSelected" + NewspaperMenuId).is(':checked');
            $.ajax({
                type: "POST",                
                url: '@Url.Action("InsertNewsMenuId", "wConfigDefault")',
                data: "{'sID':'" + sID + "','NewspaperMenuId':'" + NewspaperMenuId + "','chkMenu':'" + idSelected + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        $("#limn" + NewspaperMenuId).fadeOut();
                        $("#mn" + sID + NewspaperMenuId).fadeOut();    
                        CheckNotify("idSelected" + NewspaperMenuId, "Thành công", "left", "success", true, false);                                        

                    }
                    else {
                        CheckNotify("idSelected" + NewspaperMenuId, "Thất bại", "left", "error", true, false);
                    }
                }
            });
        }
         function CheckListSelected2(sID, NewspaperMenuId) {
             var idSelected = $("#idSelected2" + NewspaperMenuId).is(':checked');
            $.ajax({
                type: "POST",                
                url: '@Url.Action("InsertNewsMenuId", "wConfigDefault")',
                data: "{'sID':'" + sID + "','NewspaperMenuId':'" + NewspaperMenuId + "','chkMenu':'" + idSelected + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        $("#mn" + sID + NewspaperMenuId).fadeOut();    
                    }
                    else {
                        CheckNotify("idSelected2" + NewspaperMenuId, "Thất bại", "left", "error", true, false);
                    }
                }
            });
        }
    </script>
}
<div class="headingtop">
    <section class="content-header">
        <h1 class="cssheaderleft">
            @ViewData["HeadingTenDM"]
        </h1>
        <ol class="breadcrumb">
            @Html.Raw(ViewData["HeadingTopRight"])
        </ol>
    </section>
</div>
<div style="width:100%; margin-top:2px;margin-left:2px;margin-right:2px;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-body" id="divLeft">
                    @Html.Action("LoadData", "wConfigDefault")
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalListNewspaper" style="width:100%" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleMenu" style="color:brown;font-size:18px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">DANH SÁCH TRANG BÁO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="listMenu" style="float: left; clear: both;">                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="modalSelectedListNewspaper" style="width:100%" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleMenu2" style="color:brown;font-size:18px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">DANH SÁCH TRANG BÁO CHỌN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="listSelected">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

