
@{
    ViewBag.Title = "Menu website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">
        function AddFlatform() {
            $('#exampleModalCenter').modal();
            $("#txtMenu1").val('');
        }
        function AddDanhmuc(mdmc, tendmc) {
            $('#ModalMenu2').modal();            
            $("#txtMaDMC").val(mdmc);
            $("#txtTenMNC").val(tendmc);
            $("#txtTenDMCon").val('');
        }
        function SaveMenu1() {
            var tendm = $("#txtMenu1").val();
            if (tendm == null || tendm.length == 0) {
                CheckNotify("txtMenu1", "Nhập tên menu cha", "bottom", "error", true, false);
            }
            else {

                $.ajax({
                    type: "POST",
                        url: '@Url.Action("INSERT_MENU1", "wMenu")',
                    data: "{'sNAME':'" + tendm + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data== 1) {
                            CheckNotify("btnUpd_Flatform", "Thành công", "top", "success", true, false);
                            LOAD_DANHMUC_AJAX();

                        }
                        else {
                            CheckNotify("btnUpd_Flatform", "Thất bại", "top", "error", true, false);
                        }
                    },
                    error: function () {

                    }
                });
            }
        }
        function SaveMenu2() {
            var madmc = $("#txtMaDMC").val();
            var tendmc = $("#txtTenDMCon").val();
            if (tendmc == null || tendmc.length == 0) {
                CheckNotify("txtTenDMCon", "Nhập tên menu con", "bottom", "error", true, false);
            }
            else {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("INSERT_MENU2", "wMenu")',
                    data: "{'MaDMC':'" + madmc + "','TenDMCon':'" + tendmc + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data== 1) {
                            CheckNotify("btnUpdCate", "Thành công", "top", "success", true, false);
                            LOAD_DANHMUC_AJAX();
                        }
                        else {
                            CheckNotify("btnUpdCate", "Thất bại", "top", "error", true, false);
                        }
                    },
                    error: function () {

                    }
                });
            }
        }
        function LOAD_DANHMUC_AJAX() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadAjaxData", "wMenu")',
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.success == true) {
                        $("#dsdata").fadeIn();
                        $("#dsdata").html(data.data);
                    }

                }
            });
        }
    </script>
}

<div class="headingtop">
    <section class="content-header">
        <h1 class="cssheaderleft">
            @ViewData["HeadingTenDM"]
        </h1>
        <ol class="breadcrumb">
            @Html.Raw(ViewData["HeadingTopRight"])
        </ol>
    </section>
</div>
<div style="width:100%; margin-top:2px;margin-left:2px;margin-right:2px;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-body" id="divLeft">
                    @Html.Action("LoadData", "wMenu")
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog"></div>

<input type="hidden" id="txtMaDMC" value="0" />

<div class="modal hide fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CẬP NHẬT MENU</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" style="height:50px">Tên menu cha</div>
                        <input type="text" id="txtMenu1" style="width: 100%;height:50px" class="form-control styleText" tabindex="1" placeholder="Nhập tên menu cha" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <input type="button" id="btnUpd_Flatform" value="Cập nhật menu" class="btn btn-primary" onclick="SaveMenu1()" tabindex="2" style="height: 33px;" />
            </div>
        </div>
    </div>
</div>


<div class="modal hide fade" id="ModalMenu2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CẬP NHẬT MENU</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" style="height:50px">Menu cha</div>
                        <input type="text" id="txtTenMNC" readonly="readonly" style="width: 100%;height:50px" class="form-control styleText" tabindex="1" placeholder="Tên menu cha" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" style="height:50px">Menu con</div>
                        <input type="text" id="txtTenDMCon" style="width: 100%;height:50px" class="form-control styleText" tabindex="2" placeholder="Nhập tên menu con" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" id="btnUpdCate" value="Cập nhật menu" class="btn btn-primary" onclick="SaveMenu2()" tabindex="4" style="height: 33px;" />
            </div>
        </div>
    </div>
</div>


