
@{
    ViewBag.Title = "Phân quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MvcExpressAdmin.Controllers.AdminSiteController myclass = new MvcExpressAdmin.Controllers.AdminSiteController();
}
@section scripts{
    <script>
                //$(document).ready(function () {
                //    $("#tableGrid").DataTable({
                //        "processing": true, // for show progress bar
                //        "serverSide": true, // for process server side
                //        "filter": true, // this is for disable filter (search box)
                //        "orderMulti": false, // for disable multiple column at once
                //        "pageLength": 10,

                //        "ajax": {
                //            "url": "/rssNews/LoadData",
                //            "type": "POST",
                //            "datatype": "json"
                //        },
                //        "columnDefs":// khong filter cột
                //            [{
                //                "targets": [0],//Customer ID
                //                "visible": true,
                //                "searchable": true
                //            }
                //                ,

                //            {
                //                "targets": [2], //Phone
                //                "searchable": false,
                //                "orderable": false
                //            },
                //            {
                //                "targets": [3],//Edit
                //                "searchable": false,
                //                "orderable": false
                //            }
                //                //{
                //                //    "targets": [9],//Delete
                //                //    "searchable": false,
                //                //    "orderable": false
                //                //}
                //            ],

                //        "columns": [
                //            { "data": "Title", "name": "Title", "autoWidth": true },
                //            { "data": "Link", "name": "Link", "title": "Link", "autoWidth": true },
                //            //{ "data": "ContactName", "name": "ContactName", "title": "Liên hệ", "autoWidth": true },
                //            //{ "data": "ContactTitle", "name": "ContactTitle", "autoWidth": true },
                //            //{ "data": "City", "name": "City", "autoWidth": true },
                //            //{ "data": "PostalCode", "name": "PostalCode", "autoWidth": true },
                //            //{ "data": "Country", "name": "Country", "autoWidth": true },
                //            //{ "data": "Phone", "name": "Phone", "title": "Điện thoại", "autoWidth": true },
                //            {
                //                "render": function (data, type, full, meta) {
                //                    return '<a class="btn btn-info" href="/rssNews/Edit/' + full.rssID + '">Edit</a>';
                //                }
                //            },
                //            {
                //                data: null, render: function (data, type, row) {
                //                    return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.rssID + "'); >Delete</a>";
                //                }
                //            },
                //        ]
                //    });
                //});

        angular.module('phanquyen', []).controller('WebsiteInfomation', function ($scope) {
            $scope.data = {
                fullname: 'Nguyễn Văn Cường',
                email: 'Thehalfheart@gmail.com',
                phone: '0979 306 603',
                topic: 'Học lập trình online miễn phí',
                website: "freetuts.net"
            };
        });
        function BasicController($scope) {
            $scope.name = "Minh Hang",
                $scope.age = "24",
                $scope.output = function () {
                    return $scope.name + " " + $scope.age + " tuoi";
                }
        }
    </script>
}
<div class="headingtop">
    <section class="content-header">
        <asp:Panel runat="server" ID="pnplus">
            <div style="float: left; clear: both;">
                <label class="icon120m bg-blue1" onclick="ModalNVAll()" style="">
                    <i class="fa_excel fa-plus bg-blue2"></i>
                </label>
                <label class="icon120blue bg-blue2 cursor" id="Label1" onclick="ModalNVAll()">
                    @myclass.GetTT("tt_updLogin")
                    
                </label>
            </div>
        </asp:Panel>
        <asp:Panel runat="server" ID="pncopy">
            <div>
                <label class="icon120m bg-blue1" style="" onclick="CopyQuyen()">
                    <i class="fa_excel fa-exchange bg-yellow1"></i>
                </label>
                <label class="icon120blue bg-yellow1 cursor" id="Label2" onclick="CopyQuyen()">
                    @myclass.GetTT("tt_copyper")
                </label>
            </div>
        </asp:Panel>
        <asp:Panel runat="server" ID="pndel">
            <div>
                <label class="icon120m bg-red" style="" onclick="ShowDelQuyen()">
                    <i class="fa_excel fa-remove bg-purple"></i>
                </label>
                <label class="icon120blue bg-purple cursor" id="Label3" onclick="ShowDelQuyen()">
                    @myclass.GetTT("tt_delQ")
                </label>
            </div>
        </asp:Panel>

        <asp:Panel runat="server" ID="pnMDir">
            <div style="float: left;">
                <label class="icon120m bg-blue1" onclick="ModalMDir()" style="">
                    <i class="fa_excel fa-folder-open bg-blue2"></i>
                </label>
                <label class="icon120blue bg-blue2 cursor" id="Label4" onclick="ModalMDir()">
                    Quản lý thư mục
                </label>
            </div>
        </asp:Panel>

        <asp:Panel runat="server" ID="pnreset">
            <div style="float: left;">
                <label class="icon120m bg-green1" onclick="ModalResetPass()">
                    <i class="fa_excel fa-unlock-alt bg-red1"></i>
                </label>
                <label class="icon120r bg-red1 cursor" id="lbReset" onclick="ModalResetPass()">
                    @myclass.GetTT("tt_resetpw")
                </label>
            </div>
        </asp:Panel>
        <ol class="breadcrumb">
            @Html.Raw(ViewData["HeadingTopRight"])
        </ol>
    </section>
</div>
<section class="content">
    <div style="width:100%; margin-top:2px;margin-left:2px;margin-right:2px;">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-body" id="divLeft">
                        @Html.Action("LoadNhanVien", "PhanQuyen")
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-danger">
                    <div class="box-body" id="divRight">
                        @Html.Action("LoadChucNang", "PhanQuyen")

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

